.photo-column {
    background-color: coral;
    height: 920px;
}

#photo-gallery {
    background-color: coral;
    height: 920px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: aqua;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: blanchedalmond;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 579px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}